{% extends "base_template.html" %}
{% block head %}
<style></style>
{% endblock %}
{% block content %}
<div class="min-vh-100 d-flex flex-column align-items-center p-4">
  <h1 class="text-center">Calendar</h1>
  <div class="d-flex flex-column flex-fill container-fluid">
    <div class="row justify-content-center g-0 mb-2">
        {% for day, day_number in days_with_number %}
        <div class="col-lg">
            <div class="card card-header rounded-0 border-0 text-center">
                {{ day }}
                <span class="badge bg-dark-subtle">{{ day_number }}</span> 
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row justify-content-center">
      {% for column in range(1, 8) %}
      <div class="col-lg">
        {% for event in events[column - 1] %}
        <div class="card mb-3">
          <div class="card-body text-center">
            <p class="card-text">{{ event.details }}</p>
            <button
              type="button"
              class="btn btn-danger float-end"
              onclick="deleteParentParent(this, '{{ event.id }}', '{{ event.details }}')"
            ></button>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
    function deleteParentParent(element, eventId, eventDetails) {
      // Get the grandparent element (outer div with class col-1)
      var grandparent = element.parentElement.parentElement;
  
      // Remove the grandparent element
      grandparent.remove();
  
      // Send an AJAX request to delete the event from Google Calendar
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/delete-event", true);
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify({ eventId: eventId, eventDetails: eventDetails }));
    }
</script>
{% endblock %}
